<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Products</h1>
    <%= link_to "New product", new_admin_product_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <div>
    <table class="text-left">
      <thead>
        <tr class="bg-green-200">
          <th class="p-2">Image:</th>
          <th class="p-2">Name:</th>
          <th class="p-2">Price:</th>
          <th class="p-2">Description:</th>
        </tr>
      </thead>
      <tbody>
        <% @admin_products.each do |product| %>
        <tr class="even:bg-blue-100 hover:bg-gray-200">
          <td><%= product.images.any? ? image_tag(product.images.first.variant(resize_to_limit: [100, 100])) : 'Missing!' %></td>
          <td class="p-2 underline"><%= link_to product.name, edit_admin_product_path(product) %></td>
          <td class="p-2">$<%= '%.2f' % product.price %></td>
          <td class="p-2 overflow-hidden"><%= product.description %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
